# Задание 1
вам выгружены два вида файлов
-Все скачивания приложения (сырые данные) (нужное событие: install)
-Фродовые скачивания приложений (ботовые пользователи)-отчет агрегированный (нужное событие: Total fraudulent attribution) 

1)Объедини каждый вид файлов, чтобы получить все данные
2) по источникам (Media source) рассчитай  кол-во скачиваний всего и кол-во фродовых скачиваний, выведи процентное содержание форда по источникам
3)каждому обычному инсталлу присвой цену 0,5$(наша прибыль), каждому фродовому  -0,2$(рекламодатель вычитает у нас)
3) выведи Топ-5 источников по фродовым скачиваниям (отдельно с самым высоким процентом и самым низким процентом)
4) выведи суммарно сколько денег мы заработали, сколько заплатили за фрод и разницу между ними(итоговый заработок=прибыль-вычет)
5)выведи Топ-5 источников с самым высоким содержанием фрода, сколько суммарно мы заплатили за этот фрод и какой процент от всего фрода составляют эти 5 источников

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('id1072084799_installs_2024-01-15_2024-01-31_Asia_Nicosia.csv')
df2 = pd.read_csv('id1072084799_installs_2024-02-01_2024-02-05_Asia_Nicosia.csv')

C:\Users\abrak\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df3 = pd.read_csv('protect360_report.csv', header=1)
df4 = pd.read_csv('protect360_report-3.csv', header=1)

## 1)Объедини каждый вид файлов, чтобы получить все данные

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55876 entries, 0 to 55875
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Attributed Touch Type        55876 non-null  object
 1   Attributed Touch Time        55876 non-null  object
 2   Install Time                 55876 non-null  object
 3   Event Time                   55876 non-null  object
 4   Event Name                   55876 non-null  object
 5   Event Value                  0 non-null      float64
 6   Event Revenue                0 non-null      float64
 7   Event Revenue Currency       0 non-null      float64
 8   Event Revenue EUR            0 non-null      float64
 9   Cost Model                   0 non-null      float64
 10  Cost Value                   0 non-null      float64
 11  Cost Currency                0 non-null      float64
 12  Event Source                 55876 non-null  object
 13  Partner                      55876 non-null  object
 14  Media Source                 55876 non-null  object
 15  Channel                      14591 non-null  float64
 16  Campaign                     55876 non-null  object
 17  Campaign ID                  5245 non-null   object
 18  Adset                        41285 non-null  object
 19  Adset ID                     55566 non-null  object
 20  Ad                           41285 non-null  object
 21  Ad ID                        41981 non-null  object
 22  Ad Type                      42274 non-null  object
 23  Site ID                      55876 non-null  object
 24  Region                       55874 non-null  object
 25  Country Code                 55876 non-null  object
 26  State                        55876 non-null  object
 27  City                         55876 non-null  object
 28  Postal Code                  55876 non-null  object
 29  DMA                          55876 non-null  object
 30  IP                           55876 non-null  object
 31  Operator                     0 non-null      float64
 32  Carrier                      0 non-null      float64
 33  Language                     55711 non-null  object
 34  AppsFlyer ID                 55876 non-null  object
 35  Customer User ID             55876 non-null  int64
 36  Android ID                   0 non-null      float64
 37  Advertising ID               0 non-null      float64
 38  IMEI                         0 non-null      float64
 39  IDFA                         157 non-null    object
 40  IDFV                         55876 non-null  object
 41  Device Category              55876 non-null  object
 42  Platform                     55876 non-null  object
 43  OS Version                   55876 non-null  object
 44  App Version                  55876 non-null  object
 45  SDK Version                  55876 non-null  object
 46  App ID                       55876 non-null  object
 47  App Name                     55876 non-null  object
 48  Is Retargeting               55876 non-null  bool
 49  Retargeting Conversion Type  0 non-null      float64
 50  Is Primary Attribution       0 non-null      float64
 51  Attribution Lookback         55876 non-null  object
 52  Reengagement Window          0 non-null      float64
 53  Match Type                   55876 non-null  object
 54  User Agent                   55876 non-null  object
 55  HTTP Referrer                0 non-null      float64
 56  Original URL                 55876 non-null  object
 57  Device Model                 55876 non-null  object
 58  Store Product Page           0 non-null      float64
dtypes: bool(1), float64(18), int64(1), object(39)
memory usage: 24.8+ MB

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56763 entries, 0 to 56762
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Attributed Touch Type        56763 non-null  object
 1   Attributed Touch Time        56763 non-null  object
 2   Install Time                 56763 non-null  object
 3   Event Time                   56763 non-null  object
 4   Event Name                   56763 non-null  object
 5   Event Value                  0 non-null      float64
 6   Event Revenue                0 non-null      float64
 7   Event Revenue Currency       0 non-null      float64
 8   Event Revenue EUR            0 non-null      float64
 9   Cost Model                   0 non-null      float64
 10  Cost Value                   0 non-null      float64
 11  Cost Currency                0 non-null      float64
 12  Event Source                 56763 non-null  object
 13  Partner                      56763 non-null  object
 14  Media Source                 56763 non-null  object
 15  Channel                      5457 non-null   float64
 16  Campaign                     56763 non-null  object
 17  Campaign ID                  2227 non-null   object
 18  Adset                        51306 non-null  object
 19  Adset ID                     56763 non-null  object
 20  Ad                           51306 non-null  object
 21  Ad ID                        51319 non-null  object
 22  Ad Type                      51924 non-null  object
 23  Site ID                      56763 non-null  object
 24  Region                       56757 non-null  object
 25  Country Code                 56763 non-null  object
 26  State                        56763 non-null  object
 27  City                         56763 non-null  object
 28  Postal Code                  56763 non-null  object
 29  DMA                          56763 non-null  object
 30  IP                           56763 non-null  object
 31  Operator                     0 non-null      float64
 32  Carrier                      0 non-null      float64
 33  Language                     56619 non-null  object
 34  AppsFlyer ID                 56763 non-null  object
 35  Customer User ID             56763 non-null  object
 36  Android ID                   0 non-null      float64
 37  Advertising ID               0 non-null      float64
 38  IMEI                         0 non-null      float64
 39  IDFA                         134 non-null    object
 40  IDFV                         56763 non-null  object
 41  Device Category              56763 non-null  object
 42  Platform                     56763 non-null  object
 43  OS Version                   56763 non-null  object
 44  App Version                  56763 non-null  object
 45  SDK Version                  56763 non-null  object
 46  App ID                       56763 non-null  object
 47  App Name                     56763 non-null  object
 48  Is Retargeting               56763 non-null  bool
 49  Retargeting Conversion Type  0 non-null      float64
 50  Is Primary Attribution       0 non-null      float64
 51  Attribution Lookback         56763 non-null  object
 52  Reengagement Window          0 non-null      float64
 53  Match Type                   56763 non-null  object
 54  User Agent                   56763 non-null  object
 55  HTTP Referrer                0 non-null      float64
 56  Original URL                 56763 non-null  object
 57  Device Model                 56763 non-null  object
 58  Store Product Page           0 non-null      float64
dtypes: bool(1), float64(18), object(40)
memory usage: 25.2+ MB

In [6]:
df2['Media Source'].head()

0       bigporrs_int
1       bigporrs_int
2       mobfly37_int
3       farads0i_int
4    patchmedi8h_int
Name: Media Source, dtype: object

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             244 non-null    object
 1   Total
                                 244 non-null    object
 2   Total fraudulent attribution
          244 non-null    object
 3   Fraudulent attribution %               244 non-null    object
 4   Fraud trend
                           139 non-null    object
 5   Installs                               244 non-null    object
 6   Re-attributions                        244 non-null    int64
 7   Re-engagements                         244 non-null    int64
 8   Real-time blocks                       244 non-null    int64
 9   Post-attribution fraud                 244 non-null    object
 10  Real-time blocks.1                     244 non-null    int64
 11  Post-attribution fraud.1               244 non-null    object
 12  Blocked
                               244 non-null    int64
 13  Blocked attribution
                   244 non-null    int64
dtypes: int64(6), object(8)
memory usage: 26.8+ KB

In [8]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             101 non-null    object
 1   Total
                                 101 non-null    object
 2   Total fraudulent attribution
          101 non-null    object
 3   Fraudulent attribution %               101 non-null    object
 4   Fraud trend
                           38 non-null     object
 5   Installs                               101 non-null    object
 6   Re-attributions                        101 non-null    int64
 7   Re-engagements                         101 non-null    int64
 8   Real-time blocks                       101 non-null    int64
 9   Post-attribution fraud                 101 non-null    object
 10  Real-time blocks.1                     101 non-null    int64
 11  Post-attribution fraud.1               101 non-null    object
 12  Blocked
                               101 non-null    int64
 13  Blocked attribution
                   101 non-null    int64
dtypes: int64(6), object(8)
memory usage: 11.2+ KB

In [9]:
df_inst = pd.concat([df1,df2], ignore_index = True)

In [10]:
#тут позже сгруппирую и просуммирую по источникам
df_fraud = pd.concat([df3,df4], ignore_index = True)

In [11]:
df_inst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112639 entries, 0 to 112638
Data columns (total 59 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Attributed Touch Type        112639 non-null  object
 1   Attributed Touch Time        112639 non-null  object
 2   Install Time                 112639 non-null  object
 3   Event Time                   112639 non-null  object
 4   Event Name                   112639 non-null  object
 5   Event Value                  0 non-null       float64
 6   Event Revenue                0 non-null       float64
 7   Event Revenue Currency       0 non-null       float64
 8   Event Revenue EUR            0 non-null       float64
 9   Cost Model                   0 non-null       float64
 10  Cost Value                   0 non-null       float64
 11  Cost Currency                0 non-null       float64
 12  Event Source                 112639 non-null  object
 13  Partner                      112639 non-null  object
 14  Media Source                 112639 non-null  object
 15  Channel                      20048 non-null   float64
 16  Campaign                     112639 non-null  object
 17  Campaign ID                  7472 non-null    object
 18  Adset                        92591 non-null   object
 19  Adset ID                     112329 non-null  object
 20  Ad                           92591 non-null   object
 21  Ad ID                        93300 non-null   object
 22  Ad Type                      94198 non-null   object
 23  Site ID                      112639 non-null  object
 24  Region                       112631 non-null  object
 25  Country Code                 112639 non-null  object
 26  State                        112639 non-null  object
 27  City                         112639 non-null  object
 28  Postal Code                  112639 non-null  object
 29  DMA                          112639 non-null  object
 30  IP                           112639 non-null  object
 31  Operator                     0 non-null       float64
 32  Carrier                      0 non-null       float64
 33  Language                     112330 non-null  object
 34  AppsFlyer ID                 112639 non-null  object
 35  Customer User ID             112639 non-null  object
 36  Android ID                   0 non-null       float64
 37  Advertising ID               0 non-null       float64
 38  IMEI                         0 non-null       float64
 39  IDFA                         291 non-null     object
 40  IDFV                         112639 non-null  object
 41  Device Category              112639 non-null  object
 42  Platform                     112639 non-null  object
 43  OS Version                   112639 non-null  object
 44  App Version                  112639 non-null  object
 45  SDK Version                  112639 non-null  object
 46  App ID                       112639 non-null  object
 47  App Name                     112639 non-null  object
 48  Is Retargeting               112639 non-null  bool
 49  Retargeting Conversion Type  0 non-null       float64
 50  Is Primary Attribution       0 non-null       float64
 51  Attribution Lookback         112639 non-null  object
 52  Reengagement Window          0 non-null       float64
 53  Match Type                   112639 non-null  object
 54  User Agent                   112639 non-null  object
 55  HTTP Referrer                0 non-null       float64
 56  Original URL                 112639 non-null  object
 57  Device Model                 112639 non-null  object
 58  Store Product Page           0 non-null       float64
dtypes: bool(1), float64(18), object(40)
memory usage: 50.0+ MB

In [12]:
df_fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             345 non-null    object
 1   Total
                                 345 non-null    object
 2   Total fraudulent attribution
          345 non-null    object
 3   Fraudulent attribution %               345 non-null    object
 4   Fraud trend
                           177 non-null    object
 5   Installs                               345 non-null    object
 6   Re-attributions                        345 non-null    int64
 7   Re-engagements                         345 non-null    int64
 8   Real-time blocks                       345 non-null    int64
 9   Post-attribution fraud                 345 non-null    object
 10  Real-time blocks.1                     345 non-null    int64
 11  Post-attribution fraud.1               345 non-null    object
 12  Blocked
                               345 non-null    int64
 13  Blocked attribution
                   345 non-null    int64
dtypes: int64(6), object(8)
memory usage: 37.9+ KB

**Column 'Total fraudulent attribution' - object**

In [13]:
df_fraud.columns

Index(['Unnamed: 0', 'Total\n        ',
       'Total fraudulent attribution\n        ', 'Fraudulent attribution %',
       'Fraud trend\n        ', 'Installs', 'Re-attributions',
       'Re-engagements', 'Real-time blocks', 'Post-attribution fraud',
       'Real-time blocks.1', 'Post-attribution fraud.1', 'Blocked\n        ',
       'Blocked attribution\n        '],
      dtype='object')

In [14]:
df_fraud['Total fraudulent attribution\n        '].unique()

array(['8\xa0209', '1\xa0823', '766', '595', '22', '19', '15', '14', '13',
       '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0',
       '7\xa0707', '2\xa0566', '2\xa0166', '2\xa0159', '959', '370',
       '164', '17', '16'], dtype=object)

In [15]:
#избавляюсь от неразрывного пробела
df_fraud['Total fraudulent attribution\n        '] = (
    df_fraud['Total fraudulent attribution\n        ']
    .apply(lambda x: str(x).replace(u'\xa0', u''))
    .astype({'Total fraudulent attribution\n        ':'int64'})
)

## 2) по источникам (Media source) рассчитай  кол-во скачиваний всего и кол-во фродовых скачиваний, выведи процентное содержание фрода по источникам

In [16]:
df_grouped_inst = (
    df_inst.groupby(['Media Source'])
    .count()['Install Time']
#to_frame чтобы использовать источник как индекс
    .to_frame('Installs').reset_index()
    .set_index('Media Source'))

In [17]:
df_grouped_fraud = (
    df_fraud[['Unnamed: 0','Total fraudulent attribution\n        ']]
    .rename(
        columns={'Unnamed: 0':'Media Source','Total fraudulent attribution\n        ':'Fraud Installs'}
    )
)
df_grouped_fraud = (
    df_grouped_fraud.groupby(['Media Source'])
    .sum()['Fraud Installs']
    .to_frame('Fraud Installs')
    .reset_index()
    .set_index('Media Source')
)

In [18]:
df = (
    pd.merge(
        df_grouped_fraud,
        df_grouped_inst,
        left_index=True,
        right_index=True,
        how='outer'
    ).fillna(0)
)
#после мержа установки становятся флоат. исправлю это
df['Installs'] = df['Installs'].astype('int64')

In [19]:
df['Fraud to All'] = round(df['Fraud Installs'] / df['Installs'],2)
df

                   Fraud Installs  Installs  Fraud to All
Media Source
0gukeyqfxNNm9_int               1         1          1.00
0znbLkUwcQs8u_int               9         9          1.00
10ToHckxiFhDB_int               9         9          1.00
1KZ7Ze2nYOsB5_int               0         0           NaN
1UG9EJZTsH6cz                   0        11          0.00
...                           ...       ...           ...
z62vpmxqavc81                   0        15          0.00
zT5JJPTdSV0ba_int              10        10          1.00
zZudaMGuGyhjG                   0        11          0.00
zccGK0tKlo4ib_int              10        10          1.00
zhoEu7AaBeUiP_int              15        14          1.07

[276 rows x 3 columns]

In [20]:
df['Fraud to All'] = df['Fraud to All'].replace([np.inf, np.NaN], [1.00, 0])

In [21]:
df['Fraud to All'].max()

3.0

Явно какая-то ошибка. Не может быть фродовых скачиваний больше, чем всех скачиваний. Так как нет понимания источника ошибки, то я уберу все строки с этими ошибками

In [22]:
df = df.loc[df['Fraud Installs'] <= df['Installs']]

In [23]:
print('Процентное содержание фрода по всем источникам =', round(df['Fraud Installs'].sum() / df['Installs'].sum() * 100,2),'%')

Процентное содержание фрода по всем источникам = 25.41 %

In [24]:
(df['Fraud to All'] *100).astype(str).head(15) +'%'

Media Source
0gukeyqfxNNm9_int    100.0%
0znbLkUwcQs8u_int    100.0%
10ToHckxiFhDB_int    100.0%
1KZ7Ze2nYOsB5_int      0.0%
1UG9EJZTsH6cz          0.0%
1V2Q8dkA11GHK        100.0%
1fXtjxjHtY33R_int    100.0%
1u4Bsn3ESv7D6_int    100.0%
2QpStsR70VAF7_int      0.0%
2zbLT07KZ8Bee_int      0.0%
3HjwymMhViYlf_int    100.0%
3KpkCAb5zjBy7_int      0.0%
3cVjumLUKrXM2_int    100.0%
4Jj3nLBN0ykcp_int    100.0%
4MTHHMKgEOuVL_int      0.0%
Name: Fraud to All, dtype: object

## 3) Каждому обычному инсталлу присвой цену 0,5\\$(наша прибыль), каждому фродовому  -0,2\\$(рекламодатель вычитает у нас)

In [25]:
pay_inst, pay_fraud = [0.5,-0.2]

## 4) Выведи Топ-5 источников по фродовым скачиваниям (отдельно с самым высоким процентом и самым низким процентом)

Это не ответ

In [26]:
df.sort_values(by = ['Fraud Installs'], ascending=False).head()

                 Fraud Installs  Installs  Fraud to All
Media Source
waledigzt_int             15916     18241          0.87
sunniay1_int               3989     17382          0.23
mobfly37_int               3332     22646          0.15
nuddlesisl_int             2754     22701          0.12
patchmedi8h_int             964      5273          0.18

In [27]:
df.sort_values(by = ['Fraud to All', 'Fraud Installs'], ascending=False).head()

                   Fraud Installs  Installs  Fraud to All
Media Source
6VzbEqN7glHkx_int              16        16           1.0
PqsBQtPevObXy_int              15        15           1.0
dskBTk9P0PwG1_int              15        15           1.0
q68PNVMo74Cq5_int              14        14           1.0
1fXtjxjHtY33R_int              13        13           1.0

In [28]:
df.loc[df['Fraud to All'] == 1].sort_values(by = ['Fraud Installs'], ascending=False)

                   Fraud Installs  Installs  Fraud to All
Media Source
6VzbEqN7glHkx_int              16        16           1.0
dskBTk9P0PwG1_int              15        15           1.0
PqsBQtPevObXy_int              15        15           1.0
q68PNVMo74Cq5_int              14        14           1.0
n4wiz7BuU6KXE_int              13        13           1.0
...                           ...       ...           ...
R5eysojP6BYYf_int               1         1           1.0
hq7LNNKyAtTeu                   1         1           1.0
hAKjBd4flfO6Y_int               1         1           1.0
VSXAfo6RstuYf                   1         1           1.0
0gukeyqfxNNm9_int               1         1           1.0

[118 rows x 3 columns]

In [29]:
print(len(df.loc[df['Fraud to All'] == 1]), 'источников, у которых только фродовые скачивания')

118 источников, у которых только фродовые скачивания

Избавлюсь от них, занеся в отдельный список

In [30]:
ban_list = df.index.to_list()

In [31]:
df = df.drop(df.loc[df['Fraud to All'] == 1].index)

Также избавлюсь от незначительных источников, количество скачивания с которых меньше среднего

(если сильно заморочиться и автоматизировать, то можно было придумать что-нибудь с весами-влияниями через какие-нибудь библиотеки как scipy, чтобы понять от каких избавляться, от каких нет, так как медиана у нас равно 12, а среднее ~800)

In [32]:
new_df = df.loc[df['Installs'] >= df['Installs'].mean()]

### Ответ:

In [33]:
new_df.sort_values(by = ['Fraud to All', 'Fraud Installs'], ascending=False).head()

                 Fraud Installs  Installs  Fraud to All
Media Source
waledigzt_int             15916     18241          0.87
sunniay1_int               3989     17382          0.23
xinofiert6_int              373      1829          0.20
patchmedi8h_int             964      5273          0.18
mobfly37_int               3332     22646          0.15

In [34]:
(new_df['Fraud to All'].sort_values(ascending=False).head()*100).astype(str) +'%'

Media Source
waledigzt_int      87.0%
sunniay1_int       23.0%
xinofiert6_int     20.0%
patchmedi8h_int    18.0%
mobfly37_int       15.0%
Name: Fraud to All, dtype: object

In [35]:
(new_df['Fraud to All'].sort_values(ascending=True).head()*100).astype(str) +'%'

Media Source
bigporrs_int       0.0%
bingoga2_int       0.0%
enaaa4p_int        0.0%
farads0i_int       0.0%
futhermobpk_int    0.0%
Name: Fraud to All, dtype: object

## 5) выведи суммарно сколько денег мы заработали, сколько заплатили за фрод и разницу между ними(итоговый заработок=прибыль-вычет)

In [36]:
print(f"""Суммарно мы заработали {round(df['Installs'].sum() * pay_inst,2)}$
За фрод мы заплатили {-round(df['Fraud Installs'].sum() * pay_fraud, 2)}$
А итоговый наш заработок = {round(df['Installs'].sum() * pay_inst + df['Fraud Installs'].sum() * pay_fraud, 2)}$""")

Суммарно мы заработали 55776.5$
За фрод мы заплатили 5529.4$
А итоговый наш заработок = 50247.1$

## 6) выведи Топ-5 источников с самым высоким содержанием фрода, сколько суммарно мы заплатили за этот фрод и какой процент от всего фрода составляют эти 5 источников

In [37]:
new_df_top_fraud = new_df.sort_values(by = ['Fraud Installs'], ascending=False).head()
new_df_top_fraud

                 Fraud Installs  Installs  Fraud to All
Media Source
waledigzt_int             15916     18241          0.87
sunniay1_int               3989     17382          0.23
mobfly37_int               3332     22646          0.15
nuddlesisl_int             2754     22701          0.12
patchmedi8h_int             964      5273          0.18

In [38]:
print(f"""Суммарно мы заплатили за этот фрод {-round(new_df_top_fraud['Fraud Installs'].sum() * pay_fraud, 2)}$
И он составляет {round(new_df_top_fraud['Fraud Installs'].sum() / df['Fraud Installs'].sum(), 2) * 100}% от всего фрода""")

Суммарно мы заплатили за этот фрод 5391.0$
И он составляет 97.0% от всего фрода